/***
 * Backgrounds: `.bg` - Look through src/global/_bg.styl for more styles.
 */
 
 /**
 * Text alignment:
 * `.bg--` - transparent|primary-blue|secondary-blue|white
 *
 *     @example
 *     p.bg--primary-blue.text--white Primary blue bg
 *     p.bg--white.text--primary-blue White bg
 *     p.bg--secondary-blue.text--white Secondary blue bg
 */
   

.bg--transparent 
  background-color transparent !important
  
.bg--primary-blue
  background-color $col-profero-yellow !important
  
.bg--secondary-blue
  background-color $col-secondary-blue !important
  
.bg--white
  background-color white !important