/***
 * Headings: `.h` - Look through src/global/_h.styl for more styles.
 */
 
 /**
 * Headings:
 * `.h$x` - 1|2|3
 *
 *     @example
 *     h1.h2 Make a h1 look like an h2
 *     h2.h1 Make a h2 look like an h1
 */
   
h1, .h1, h2, .h2, h3, .h3 
  font-weight normal

h1, .h1
  font-size 250%
  line-height 110%
      
h2, .h2 
  font-size 230%
  line-height 105%