/***
 * Horizontal Rule: `.hr` - Look through src/global/_hr.styl for more styles.
 */
 
 /**
 * Text alignment:
 * `.hr--` - full|white|white-blue
 *
 *     @example
 *     div.bg--primary-blue.text--white.l-padding-2 
 *      hr.hr--full
 *      p Text
 *      hr.hr--white
 *      p Text 2
 */
   
.hr
  &--full
    width 100%
    margin-top 1em
    margin-bottom 1em
  &--white 
    border-color white