$is-ie := false

/* Global */
@import 'global/_reset'
@import 'global/_swatch'
@import 'global/*.styl'

/* Mixins */
@import 'mixins/_ie.styl'
@import 'mixins/*.styl'

/* Layout */
@import 'layout/*.styl'

/* Components */
@import 'components/*.styl'

/* Vendor */
@import 'vendor/*.styl'